
/*                                                           texte h4                                                                   */
h4 {
    font-family: 'Scheherazade New', serif;
}

/*                                                           Images 1                                                                   */
img{
    background-size: contain;
    background-position: 50% 50%;
    display : inline-block;
    width : 150px; height : 150px;
    border : none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
    position : absolute;
    right : 640px;
    top : 100px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}


/*                                         fonctionne avec animista(mouvement de la photo)                                               */
img:hover{
	-webkit-animation: vibrate-2 0.3s linear infinite both;
	        animation: vibrate-2 0.3s linear infinite both;
}


body {
    font-family: "Trebuchet MS";
}

/*                                            Mise en page barre menu                                                                   */
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #ccc;     /* Ajout de la couleur d'arrière-plan */
    justify-content: right;       /* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #524f4f;  /* Arrière-plan */
    color: #fff;                /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;     /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #80b8d8;
    color: #ffe843;
    border-color: #ffe843;
}


h4 { position : absolute ;
    left : 30px;
    
}





#conteneur
{
    display: flex;
}
.element{
    width: 30%;
    background: #80b8d8;
    margin: 2%;
    text-align: center;
}



@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .element{
      width: 100%;
    }
    #conteneur{
        flex-direction: column;
    }
}

footer
{
    background: grey;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
   
}





.element1{
    width: 30%;
    margin: 2%;
    text-align: center;
   
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .element1{
      width: 100%;
    }
    #conteneur1{
        flex-direction: column;
        justify-content: space-around;
    }
}



/*                                                  dégrader de couleur fond de page                                                    */
html, body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(255, 255, 255, 0.568);
    background-image: linear-gradient(60deg, rgb(66, 66, 66) 0%, #80b8d8 100%);
}









/* ----------------------------------------------
 * Generated by Animista on 2021-9-30 16:33:34
 * Licensed under FreeBSD License.                                Suite mouvement photo 
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  


/*                                                                  flip box                                                            */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cards{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1ABC9C;
    
}
.card{
    margin: 0 auto;
    width: 240px;
    height: 320px;
    perspective: 1000px;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 16px;
    
}



